<div class="tutorial" >
    <tut-welcome></tut-welcome>
    <tut-sidebar></tut-sidebar>
    <div class="application">
        <tut-header collection="location" ></tut-header>
        <div class="applicationSpace" >
            <tut-notification></tut-notification>
            <span ng-class="{'hidden': ready}" class="loading">Loading applications...</span>
            <div ng-class="{'hidden': location !== '/car-builder' || !ready}"  class="holder small" >
                <img src="/assets/images/phone.svg" />
                <iframe id="carBuilder" ng-src="/car-builder"></iframe>
            </div>
            <div ng-class="{'hidden': location !== '/manufacturer-dashboard'}" class="holder" >
                <iframe id="manufacturer" ng-src="/manufacturer-dashboard"></iframe>
            </div>
            <div ng-class="{'hidden': location !== '/regulator-dashboard'}" class="holder" >
                <iframe id="regulator" ng-src="/regulator-dashboard"></iframe>
            </div>
        </div>
    </div>
</div>